<%- include('header.ejs') %>
<div class="container">
<h1>Cards data</h1>

<div class="cards" content ="/cards">
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Issue Token</th>
                <th>Valid Token</th>
                <th>Block list</th>
                <th>Action</th>
            </tr>
            <!-- Loop through cards -->
            <% for(var i = 0; i < cards.length; i++) {%>
            <tr>
                <td><%= cards[i].name %></td>
                <td><%= cards[i].issue_token %></td>
                <td><%= cards[i].valid_token %></td>
                <td><%= cards[i].block_list %></td>
                <td>
                    <a href="<%= `/cards/delete/${cards[i].id}` %>" onclick="return confirm('Are you sure you want to delete this record?')">Delete</a>
                </td>
            </tr>
            <% } %>
        </table>
</div>

<h3>Add new card</h3>
<form method="POST" action ="/cards">
    <div class="container">
        <label for="name">Name</label>
        <input type="text" id="name" name="name"> 
        <label for="issue_token">Issue Token</label>
        <input type="text" id="issue_token" name="issue_token" >  
        <label for="valid_token">Valid Token</label>
        <input type="text" id="valid_token" name="valid_token" >   
        <label for="block_list">Block List</label>
        <input type="checkbox" id="block_list" name="block_list" > 
    </div>
    <div class="form-group"> 
        <button class="btn btn-primary " name="submit" type="submit">Submit</button>
    </div>

</form>


<%- include('footer.ejs') %>


